[submodule "Vendor/Vendor/Quick"]
	path = Vendor/Vendor/Quick
	url = https://github.com:Quick/Quick.git
[submodule "Vendor/Vendor/Nimble"]
	path = Vendor/Vendor/Nimble
	url = https://github.com:Quick/Nimble.git
[submodule "Vendor/Quick"]
	path = Vendor/Quick
	url = https://github.com:Quick/Quick.git
[submodule "Vendor/Nimble"]
	path = Vendor/Nimble
	url = https://github.com:Quick/Nimble.git
